<template>
  <div class="q-pa-lg">
    <q-infinite-scroll @load="fetchData" :offset="250">
      <div class="q-gutter-md row wrap justify-center item-start">
        <div  v-for="(qrItem, index) in qrItems" :key="index" class="col-auto">
          <q-img
            :src="qrItem.qrImgSrc"
            spinner-color="indigo"
            class="cursor-pointer shadow-5 my-hover-shadow"
            style="height: 190px; width: 190px; border-radius: 28px 0;"
            @click = "showQrImgLarge(qrItem.qrImgSrc,qrItem.qrId)"
          />
        </div>
      </div>
      <template v-slot:loading>
        <div class="row justify-center q-my-md">
          <q-spinner-dots color="indigo" size="40px" />
        </div>
      </template>
    </q-infinite-scroll>

  <qr-dialog :show="showQrDialog" :img="qrImgDialogSrc" :url="qrId" :id="id" />

  </div>
</template>

<script>
import axios from 'axios'
import qrDialog from '../components/qrDialog.vue'

export default {
  name: 'PageIndex',
  components: { qrDialog },
  data: () => ({
    qrItems: [],
    showQrDialog: false,
    qrImgDialogSrc: '',
    qrId: '',
    id: '',
    timeOut: 0,
    routeProps: {
      limit: 50,
      skip: 0
    }
  }),
  methods: {
    fetchData (index, done) {
      setTimeout(() => {
        axios.get(process.env.VUE_APP_SERVER + '/api/records/limit/' + this.routeProps.limit + '/' + this.routeProps.skip, {
        })
          .then(response => {
            const array = response.data
            if (array.length > 0) {
              this.qrItems = this.qrItems.concat(array)
              this.routeProps.skip = this.routeProps.skip + this.routeProps.limit
              this.timeOut = 1000
              done()
            }
          })
          .catch(error => {
            console.log(error)
          })
      }, this.timeOut)
    },
    showQrImgLarge (src, id) {
      this.qrImgDialogSrc = src
      this.id = id
      this.qrId = process.env.VUE_APP_URL + '/?id=' + id
      this.showQrDialog = true
    },
    showLoading () {
      this.$q.loading.show({
        spinnerSize: 140
      })
      this.timer = setTimeout(() => {
        this.$q.loading.hide()
        this.timer = undefined
      }, 500)
    }
  },
  mounted () {
    this.routeProps.skip = 0
    this.showLoading()
    this.fetchData()
    if (this.$route.query.id) {
      axios.get(process.env.VUE_APP_SERVER + '/api/records/find/' + this.$route.query.id, {
      })
        .then(response => {
          this.id = response.data.qrId
          this.qrId = process.env.VUE_APP_URL + '/?id=' + response.data.qrId
          this.qrImgDialogSrc = response.data.qrImgSrc
          this.showQrDialog = true
        })
        .catch(error => {
          console.log(error)
        })
    }
  },
  beforeDestroy () {
    if (this.timer !== undefined) {
      clearTimeout(this.timer)
      this.$q.loading.hide()
    }
  }
}
</script>

<style lang="scss">
  .my-hover-shadow:hover { box-shadow: $shadow-10; }
</style>
